<div class="jumbotron">
  <div class="container-fluid">
    <h2>プロフィール編集</h2>
  </div>
</div>

<div class="container">
<%= form_with model: @user, local:true do |f| %>
  <div class="form-group row mb-4 mt-5">
    <div class="col-md-3">
      <%= f.label "プロフィール画像" %></br>
    </div>
    <div class="col-md-9">
      <%= f.attachment_field :image %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-md-3">
      <%= f.label "ニックネーム" %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :name, autofocus: true, class: "form-control col-md-6" %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-md-3">
      <%= f.label "プロフィール文" %>
    </div>
    <div class="col-md-9">
      <%= f.text_area :introduction, autofocus: true, class: "form-control", placeholder: "国内旅行・温泉めぐりが好きです！等" %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-md-3">
      <%= f.label "居住地" %>
    </div>
    <div class="col-md-9">
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: '都道府県'}, {class: 'custom-select col-md-3'} %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-md-3">
      <%= f.label 'メールアドレス' %>
    </div>
    <div class="col-md-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-md-6" %>
    </div>
  </div>

  <div class="row">
    <%= f.submit "編集する", class: "btn btn-outline-secondary mx-auto mb-5" %>
  </div>
  <% end %>
</div>