
<div class="container-fluid">
  <div class="row">
    <div class="col no-gutters">
      <%= image_tag('img/topimg.jpg', class: "img-fluid") %>
      <div class="card-img-overlay text-white">
        <p class="mt-5 mb-4">使い方はあなた次第</p>
        <h1>MY TRIP PLAN</h1>
        <p class="mt-5 mb-5">
          様々な旅のシーンで役立つ<br/>
          旅プラン共有サイト
        </p>
        <% unless user_signed_in? %>
          <%= link_to "新規登録をしてはじめる", new_user_registration_path, class: 'btn btn-outline-light' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-item col-md-7 mt-5">
      <div class="card-text text-center mt-5">
        <p style="line-height:3rem">
        MY TRIP PLANは、オリジナルの旅行プランを作って共有できます。</br>
        旅行プランを立てるのが好きな方には表現の場として。</br>
        そうでない方は、行きたいスポットを見つけたり、新たな旅行のテーマを発見したり...</br>
        投稿されている様々なプランを参考に、旅行計画をスムーズに立てることができます。
        </p>
      </div>
    </div>
    <div class="col-md-5 mt-5">
      <%= image_tag('img/about_image.png', size: "400x300", class: 'd-block mx-auto') %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h4>MY TRIP PLANの使い方 例</h4>
    </div>
  </div>

  <div class="row mt-5 ml-1 mb-3">
    <div class="col-md-3">
      <div class="card border border-0">
        <%= image_tag('img/travel_human2.png', size: "150x150", class: 'd-block mx-auto') %>
        <div class="card-body text-center">
          旅行先でプランを</br>
          見ながら巡る
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border border-0">
        <%= image_tag('img/write.png', size: "150x150", class: 'd-block mx-auto') %>
        <div class="card-body text-center">
          旅行後にプランの</br>
          思い出を綴る
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border border-0">
        <%= image_tag('img/phone2.png', size: "150x150", class: 'd-block mx-auto') %>
        <div class="card-body text-center">
          最新の旅行スポットを</br>
          チェックする
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border border-0">
        <%= image_tag('img/list5.png', size: "150x150", class: 'd-block mx-auto') %>
        <div class="card-body text-center">
          自分だけの行きたい</br>
          プランリストを作成する
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid top-color">
  <div class="row pt-5 mb-4">
    <div class="col-md-12 text-center text-white">
      <h4>注目PLAN</h4>
    </div>
  </div>
  <div class="row pb-5 pl-5 pr-5">
    <% @plans.each do |plan| %>
      <div class="card-deck d-block mx-auto">
        <div class="card h-90" style="width: 15rem; height: 26rem;">
          <%= link_to plan_path(plan.id) do %>
            <%= attachment_image_tag plan, :plan_image, format: 'jpeg', fallback: "img/no_imagelogo.jpg" , width: '238', height: '179' %>
          <% end %>
        <div class="card-body">
          <h5 class="card-title" style="height: 3rem;">
          <%= link_to plan.title, plan_path(plan.id), class: 'text-dark font-weight-bold' %></h5>
          <p class="card-text text-overflow" style="height: 5rem;"><%= plan.plan_introduction.truncate(40) %></p>
        </div>
        <div class="card-body">
          <p>
            <i class="fas fa-map-marker-alt"></i><%= plan.prefecture.name %>
            <i class="far fa-heart ml-4 text-danger"><%= plan.favorites.count %>行きたい</i>
          </p>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
