<div class="container-fluid">
  <div class="row">
    <div class="col no-gutters">
      <%= image_tag('img/topimg.jpg', class: "img-fluid") %>
      <nav class="navbar navbar-expand-sm fixed-top navbar-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">MY TRIP PLAN</a>
      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
          <li class="nav-item active ml-5 mr-5">
            <%= link_to "プラン", plans_path %>
          </li>
          <li class="nav-item active mr-5">
            <%= link_to "プラン登録", new_plan_path %>
          </li>
          <li class="nav-item active mr-5">
            <%= link_to "マイページ", user_path(current_user.id), class: '' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li class="nav-item active ml-5 mr-5">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li class="nav-item active mr-5">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>

      <div class="card-img-overlay">
        <p class="text-white">使い方はあなた次第</p>
        <h1 class="text-white">MY TRIP PLAN</h1>
        <p class="text-white">
          様々な旅のシーンで役立つ<br/>
          旅プラン共有サイト
        </p>
        <%= link_to "新規登録をしてはじめる", new_user_registration_path, class: 'btn btn-outline-light' %>
      </div>
    </div>
  </div>
  <div class="row">
      <h2>about</h2>
  </div>
