<div class="container-fluid">
  <div class="row">
    <div class="col no-gutters">
      <%= image_tag('img/topimg.jpg', class: "img-fluid") %>
      <nav class="navbar navbar-expand-sm fixed-top navbar-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">MY TRIP PLAN</a>
      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
          <li class="nav-item active ml-5 mr-5">
            <%= link_to "プラン", plans_path %>
          </li>
          <li class="nav-item active mr-5">
            <%= link_to "プラン登録", new_plan_path %>
          </li>
          <li class="nav-item active mr-5">
            <%= link_to "マイページ", user_path(current_user.id), class: '' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li class="nav-item active ml-5 mr-5">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li class="nav-item active mr-5">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>

      <div class="card-img-overlay">
        <p class="text-white">使い方はあなた次第</p>
        <h1 class="text-white">MY TRIP PLAN</h1>
        <p class="text-white">
          様々な旅のシーンで役立つ<br/>
          旅プラン共有サイト
        </p>
        <%= link_to "新規登録をしてはじめる", new_user_registration_path, class: 'btn btn-outline-light' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-item col-md-7 mt-5">
      <div class="card-text text-center mt-5">
        <p style="line-height:3rem">
        MY TRIP PLANは、オリジナルの旅行プランを作って共有できます。</br>
        旅行プランを立てるのが好きな方には表現の場として。</br>
        そうでない方は、行きたいスポットを見つけたり、新たな旅行のテーマを発見したり...</br>
        投稿されている様々なプランを参考に、旅行計画をスムーズに立てることができます。
        </p>
      </div>
    </div>
    <div class="col-md-5 mt-5">
      <%= image_tag('img/about_image.png', size: "400x300") %>
    </div>
  </div>


  <div class="row mt-5 ml-3">
    <h4>人気のプラン</h4>
  </div>
  <div class="row ml-5">
    <% @plans.each do |plan| %>
      <div class="card-deck ml-2">
        <div class="card" style="width: 18rem;">
          <%= attachment_image_tag plan, :plan_image, :fill, 300, 225, format: 'jpeg', fallback: "img/no_imagelogo.jpg" %>
        <div class="card-body">
          <h5 class="card-title">
          <%= link_to plan.title, plan_path(plan.id) %></h5>
          <p class="card-text"><%= plan.plan_introduction %></p>
          <p class="card-text"><%= plan.prefecture.name %></p>
          <p class="card-text text-right"><%= plan.user.name %></p>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
