<div class="container-fluid">
  <div class="row">
    <div class="col no-gutters">
      <%= image_tag('img/topimg.jpg', class: "img-fluid") %>
      <div class="card-img-overlay text-white">
        <p class="mb-3">使い方はあなた次第</p>
        <h1>MY TRIP PLAN</h1>
        <p class="mt-5 mb-5">
          様々な旅のシーンで役立つ<br/>
          旅プラン共有サイト
        </p>
        <%= link_to "新規登録をしてはじめる", new_user_registration_path, class: 'btn btn-outline-light' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-item col-md-7 mt-5">
      <div class="card-text text-center mt-5">
        <p style="line-height:3rem">
        MY TRIP PLANは、オリジナルの旅行プランを作って共有できます。</br>
        旅行プランを立てるのが好きな方には表現の場として。</br>
        そうでない方は、行きたいスポットを見つけたり、新たな旅行のテーマを発見したり...</br>
        投稿されている様々なプランを参考に、旅行計画をスムーズに立てることができます。
        </p>
      </div>
    </div>
    <div class="col-md-5 mt-5">
      <%= image_tag('img/about_image.png', size: "400x300") %>
    </div>
  </div>


  <div class="row mt-5 ml-3">
    <h4>人気のプラン</h4>
  </div>
  <div class="row ml-5">
    <% @plans.each do |plan| %>
      <div class="card-deck ml-2">
        <div class="card h-100" style="width: 18rem; height: 32rem;">
          <%= attachment_image_tag plan, :plan_image, :fill, 300, 225, format: 'jpeg', fallback: "img/no_imagelogo.jpg" %>
        <div class="card-body">
          <h5 class="card-title" style="height: 3rem;">
          <%= link_to plan.title, plan_path(plan.id) %></h5>
          <p class="card-text text-overflow" style="height: 5rem;"><%= plan.plan_introduction %></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fas fa-map-marker-alt mr-5"><%= plan.prefecture.name %></i>
              <i class="far fa-heart"><%= plan.favorites.count %>行きたい</i>
            </li>
          </ul>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
