<div class="jumbotron">
  <div class="container-fluid">
    <h2>PLAN編集</h2>
  </div>
</div>

<div class="container">
  <%= form_with model: @plan, url: plan_path, local:true do |f| %>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "プランタイトル" %>
      </div>
      <div class="col-md-9">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "プランTOP画像" %>
      </div>
      <div class="col-md-9">
      <%= f.attachment_field :plan_image %>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "エリア" %>
      </div>
      <div class="col-md-9">
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: 'form-select' %>
       </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "主な移動手段" %>
      </div>
      <div class="col-md-9">
       <%= f.select :transportation, Plan.transportations.keys.map {|k| [I18n.t("enums.plan.transportation.#{k}"), k]}, {prompt: "選択してください"} %>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "プラン紹介文" %>
      </div>
      <div class="col-md-9">
        <%= f.text_area :plan_introduction, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "タグ（複数選択可）" %>
      </div>
      <div class="col-md-9">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <%= f.fields_for :spots do |op| %>
        <%= render 'spot_fields', f: op %>
        <div id="links"></div>
        <div class="offset-md-10">
        <%= link_to_add_association '＋別のスポットを追加', f, :spots %>
        </div>
      <% end %>
    </div>

  <div class="row">
    <div class="offset-md-3">
      <%= f.submit "プラン編集", class: "btn btn-outline-secondary" %>
    </div>
    <div class="offset-md-3">
      <%= link_to "プラン削除", plan_path(@plan.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <% end %>
</div>