<div class="jumbotron">
  <div class="container-fluid">
    <h2>PLAN一覧</h2>
  </div>
</div>

<div class="container-fluid">
  <%= search_form_for @q do |f| %>
    <div class="row col-md-12 mb-4">
      <div class="col-md-2">
        <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: '都道府県'}, {class: 'custom-select'} %>
      </div>
      <div class="col-md-10">
        <% Tag.all.each do |tag| %>
          <%= f.check_box :tags_id_eq_any, { multiple: true, checked: tag[:checked], disabled: tag[:disabled], include_hidden: false }, tag[:id] %>
          <label><%= tag.name %></label>
        <% end %>
        <%= f.submit '検索', class: 'search_submit btn btn-outline-secondary ml-5' %>
      </div>
    </div>
  <% end %>



  <div class="row">
    <% @plans.each do |plan| %>
      <div class="card-deck ml-1">
        <div class="card" style="width: 15rem; height: 26rem;">
          <%= attachment_image_tag plan, :plan_image, :fill, 300, 225, format: 'jpeg', fallback: "img/no_imagelogo.jpg" %>
        <div class="card-body">
          <h5 class="card-title" style="height: 3rem;">
          <%= link_to plan.title, plan_path(plan.id), class: 'text-dark font-weight-bold' %></h5>
          <p class="card-text text-overflow" style="height: 5rem;"><%= plan.plan_introduction %></p>
        </div>
        <div class="card-body">
          <p>
            <i class="fas fa-map-marker-alt"></i><%= plan.prefecture.name %>
            <i class="far fa-heart ml-4 text-danger"><%= plan.favorites.count %>行きたい</i>
          </p>
        </div>

        </div>
       </div>
    <% end %>
  </div>
  </div>
</div>
