<div class="jumbotron">
  <div class="container-fluid">
    <h2>PLAN一覧</h2>
  </div>
</div>

  <div class="container">
    <%= form_with model: @plan, url: plans_path, local:true do |f| %>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "プランタイトル" %>
      </div>
      <div class="col-md-9">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "プランTOP画像" %>
      </div>
      <div class="col-md-9">
      <%= f.attachment_field :plan_image %>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "エリア" %>
      </div>
      <div class="col-md-9">
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: '都道府県'}, {class: 'custom-select'} %>
       </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "主な移動手段" %>
      </div>
      <div class="col-md-9">
       <%= f.select :transportation, Plan.transportations.keys, {prompt: "選択してください"} %>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "プラン紹介文" %>
      </div>
      <div class="col-md-9">
        <%= f.text_area :plan_introduction, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-md-3">
        <%= f.label "タグ（複数選択可）" %>
      </div>
      <div class="col-md-9">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="row mt-3 mb-3">
        <h4>スポット登録</h4>
      </div>
      <%= f.fields_for :spots do |op| %>
        <%= render 'spot_fields', f: op %>
        <div id="links"></div>
        <div class="offset-md-10">
        <%= link_to_add_association '＋別のスポットを追加', f, :spots %>
        </div>
    </div>

  <div class="row">
    <%= f.submit "プラン登録", class: "btn btn-outline-secondary" %>
  </div>
   <% end %>
  <% end %>
</div>
</div>