<!DOCTYPE html>
<html>
  <head>
    <title>MY TRIP PLAN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/bff131710d.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless current_page?(root_path) %>
    <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">MY TRIP PLAN</a>
      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
          <li class="nav-item active ml-5 mr-5">
            <%= link_to "プラン", plans_path %>
          </li>
          <li class="nav-item active mr-5">
            <%= link_to "プラン登録", new_plan_path %>
          </li>
          <li class="nav-item active mr-5">
            <%= link_to "マイページ", user_path(current_user.id) %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li class="nav-item active ml-5 mr-5">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li class="nav-item active mr-5">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
